@{
    var data = ViewData.Get<LayoutViewData>();
}

<!DOCTYPE html>
<html lang="@Resource.Project_LanguageShort" class="neon-theme">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@data.Title | @Resource.Project_Name</title>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400%3B700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400%3B700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400%3B700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:wght@400%3B700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400%3B700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400%3B700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arvo:wght@400%3B700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400%3B700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400%3B700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aleo:wght@400%3B700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@400%3B700&display=swap">
</head>
<body class="neon-theme-back-base-1">
    <header class="neon-theme-back-base-0">
        <nav class="neon-nav">
            <a asp-controller="Home" asp-action="Index" class="neon-theme-back-base-2 neon-theme-front-accent neon-nav-button">
                @Resource.Layout_Nav_Home
            </a>
            <menu class="neon-menu">
                @if (User.IsAuthenticated())
                {
                    <li style="margin-left: auto">
                        <a asp-controller="Authenticate" asp-action="Logout" class="neon-theme-back-base-2 neon-theme-front-common neon-nav-button">
                            @Resource.Layout_Nav_Logout
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-controller="Authenticate" asp-action="Register" class="neon-theme-back-base-2 neon-theme-front-common neon-nav-button">
                            @Resource.Layout_Nav_Register
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Authenticate" asp-action="Login" class="neon-theme-back-base-2 neon-theme-front-common neon-nav-button">
                            @Resource.Layout_Nav_Login
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Authenticate" asp-action="Guest" class="neon-theme-back-base-2 neon-theme-front-common neon-nav-button">
                            @Resource.Layout_Nav_Guest
                        </a>
                    </li>
                }
            </menu>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="neon-theme-back-base-0">
        <nav class="neon-nav-center">
            @if (User.IsAuthenticated())
            {
                <a asp-controller="User" asp-action="Index" class="neon-theme-back-base-2 neon-theme-front-accent neon-nav-button">
                    @User.GetUsername()
                </a>
            }
        </nav>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>