@using Neon.Domain.Enums
@model LobbyModel

@{
    Layout = "_Layout";
    ViewData.Set(new LayoutViewData
    {
        Title = Resource.Layout_Title_Lobby,
        Resource = new Dictionary<string, string>
        {
            { "systemName", Resource.Client_Generic_SystemName },
            { "connectionLost", Resource.Client_Generic_ConnectionLost },
            { "connectedFromAnotherSource", Resource.Client_Generic_ConnectedFromAnotherSource }
        }
    });
}

<div class="neon-lobby-container">
    <div class="neon-lobby-active-users-container">
        <div class="neon-lobby-request-action-menu">
            <label class="neon-theme-front-common">
                <input type="radio" name="request-action" value="Send" checked>
                <partial name="Svg/RequestAction/Send"/>
            </label>
            <label class="neon-theme-front-common">
                <input type="radio" name="request-action" value="Respond">
                <partial name="Svg/RequestAction/Respond"/>
            </label>
            <label class="neon-theme-front-common">
                <input type="radio" name="request-action" value="Cancel">
                <partial name="Svg/RequestAction/Cancel"/>

            </label>
        </div>
        <div>
            <div class="neon-lobby-active-users" data-data="@Model.ActiveUsers">
                @foreach (var activeUser in Model.ActiveUsers)
                {
                    <div class="neon-lobby-user-row" data-user-key="@activeUser.Key.ToString()">
                        <div class="neon-username">
                            @activeUser.Username
                        </div>
                        <div class="neon-lobby-user-row-menu">
                            <button class="neon-theme-front-common" data-request-type="Duel">
                                <raw src="svg/request-type/duel"/>
                            </button>
                            <button class="neon-theme-front-common" data-request-type="Trade">
                                <raw src="svg/request-type/trade"/>
                            </button>
                            <button class="neon-theme-front-common" data-request-type="Friend">
                                <raw src="svg/request-type/friend"/>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="neon-lobby-incoming-user-requests">
                @foreach (var userRequest in Model.IncomingUserRequests)
                {
                    <div class="neon-lobby-user-row" data-created-at="@userRequest.CreatedAt.ToString(Resource.Project_DateTimeFormat)" data-user-key="@userRequest.RequesterKey.ToString()">
                        <div class="neon-lobby-user-row-info">
                            <div class="neon-theme-front-common" data-request-type="@userRequest.Type">
                                @switch (userRequest.Type)
                                {
                                    case UserRequestType.Duel:
                                        <raw src="svg/request-type/duel"/>

                                        break;

                                    case UserRequestType.Trade:
                                        <raw src="svg/request-type/trade"/>

                                        break;

                                    case UserRequestType.Friend:
                                        <raw src="svg/request-type/friend"/>

                                        break;

                                    default: throw new ArgumentOutOfRangeException();
                                }
                            </div>
                        </div>
                        <div class="neon-username">
                            @userRequest.RequesterUsername
                        </div>
                        <div class="neon-lobby-user-row-menu">
                            <button class="neon-theme-front-common" data-request-response="Accept">
                                <raw src="svg/user-action/check"/>
                            </button>
                            <button class="neon-theme-front-common" data-request-response="Decline">
                                <raw src="svg/user-action/cross"/>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="neon-lobby-outgoing-user-requests">
            </div>
        </div>
    </div>
    <div class="neon-user-equipment-container">
        <div class="neon-user-equipment">
            @for (var i = 0; i < 25; i++)
            {
                <button id="neon-user-equipment-slot-@i.ToString()" type="button" class="neon-item-slot">
                    <img src="~/img/item/empty.png" alt="Empty" asp-append-version="true"/>
                </button>
            }
        </div>
        <div class="neon-user-chat">
            <ol class="neon-user-messages">
                <li>
                    <link src="html/user-message.html" asp-append-version="true"></link>
                </li>
            </ol>
            <form class="neon-user-form">
                <input id="neon-user-input" class="neon-theme-back-base-3" autocomplete="off" maxlength="64"/>
            </form>
        </div>
    </div>
    <div class="neon-user-inventory-container">
        <div class="neon-user-inventory">
            @for (var i = 0; i < 100; i++)
            {
                <button id="neon-user-inventory-slot-@i.ToString()" type="button" class="neon-item-slot">
                    <img src="~/img/item/empty.png" alt="Empty" asp-append-version="true"/>
                </button>
            }
        </div>
    </div>
</div>
@*
<tempslate id="neon-lobby-active-user-template">
    <div class="neon-lobby-user-row" data-user-key="{{key}}">
        <div class="neon-username">
            {{username}}
        </div>
        <div class="neon-lobby-user-row-menu">
            <button class="neon-theme-front-common" data-request-type="Duel">
                <partial name="Svg/RequestType/Duel"/>
            </button>
            <button class="neon-theme-front-common" data-request-type="Trade">
                <partial name="Svg/RequestType/Trade"/>
            </button>
            <button class="neon-theme-front-common" data-request-type="Friend">
                <partial name="Svg/RequestType/Friend"/>
            </button>
        </div>
    </div>
</tempslate> *@

@section Scripts
{
    <script src="~/js/lobby.js" asp-append-version="true"></script>
}